@inherits EntryListBase

<MudStack Row="true"
          AlignItems="AlignItems.Center"
          Spacing="1">
    <MudTextField T="string"
                  Placeholder="Search"
                  Label="Search"
                  FullWidth="true"
                  Disabled="@Searching"
                  Immediate="true"
                  Value="@SearchText"
                  ValueChanged="@(e => SearchText = e)"
                  OnKeyUp="@OnSearchTextFieldKeyUp"
                  AdornmentIcon="@Icons.Material.Filled.Search"
                  Adornment="Adornment.Start"
                  Variant="Variant.Outlined"
                  Margin="Margin.Dense"/>
    @if (Searching)
    {
        <MudProgressCircular Color="Color.Primary"
                             Indeterminate="true"
                             Size="Size.Small"/>
    }
</MudStack>
@if (!Entries.Any())
{
    <MudText Typo="Typo.subtitle1">No entry found</MudText>
}
else
{
    <div style="max-height: calc(var(--app-content-height) - 10vh); overflow-y: scroll">
        <MudTreeView T="string"
                     Hover="true"
                     ExpandOnClick="true"
                     SelectedValueChanged="@SelectEntry">
            <EntriesTreeView Items="@Entries"
                             OnDeleteClick="@DeleteEntry"
                             OnDuplicateClick="@DuplicateEntry"/>
        </MudTreeView>
    </div>
}

<MudTooltip Arrow="true"
            Placement="Placement.Top"
            Text="Add a new entry">
    <MudFab Size="Size.Small"
            Color="Color.Primary"
            OnClick="ShowAddEntryForm"
            Style="position: absolute; right: 10px; bottom: 10px"
            StartIcon="@Icons.Material.Filled.Add"/>
</MudTooltip>